*{
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all .3s ease-out;
}
section{
  padding:20px 0;
}
section:nth-child(odd){
  background: #f8f8fe;
}
.heading span{
  color:blue;
  padding:0 1.5rem;
}
/* *****************Style Header****************** */
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  color: black;
}
header nav .container-fluid .navbar-brand{
  font-size: 30px;
}
header nav .container-fluid ul li a{
  border-radius: 15px;
  margin-left: 20px;
  font-size: 18px;
}
header nav .container-fluid ul li a:hover{
  background-color: #6666ff;
  padding: 0, 20px;
}
.beranda .carousel-inner img{
  max-height: 100vh;
}

.galery{
  background-color: rgb(250, 245, 245);
}
.contact form{
  padding:15px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.contact form .box,
.contact form textarea{
  border-radius: 5px;
  font-size: 17px;
  padding:10px;
  margin:7px 0;
  width: 100%;
  text-transform: none;
  color:var(--black);
}

.contact form textarea{
  resize: none;
  height: 200px;
}

.contact .map{
  border-radius: 5px;
  height: 100%;
  width:100%;
  margin-top: 1rem;
}

